@mixin inner(
  $content-width: 1200px
) {
  width: $content-width;
  margin: 0 auto;
}

$content-width: 1200px;

$main-color: #20b2aa;

 * {
  margin: 0;
  padding: 0;
 }

 img {
   width: 100%;
 }

 .forPc {
   display: block;
 }
 .forSp {
   display: none;
 }

.header,
.footer {
  width: 100%;
  min-width: $content-width;
}

section {
  width: 100%;
  min-width: $content-width;
}

.inner {
  @include inner();
}

@mixin card() {
  display: flex;
  flex-wrap: wrap;

  &__component {
    box-shadow: 0 0 5px 0 #cecece;
    width: calc((100% / 3) - 10px);
  }
}

.card {
  @include card();
}

@mixin btn(
  $bg: transparent,
  $color: #fff
) {
  display: block;
  background: $bg;
  color: $color;
  border: 1px solid #fff;
  padding: 10px 0;
  width: 200px;
  margin: 0 auto;
  text-align: center;

  &:hover {
    background: #000;
    color: #fff;
    transition: all 0.4s;
  }
}

.btn {
  @include btn();
}

@mixin tag() {
  background: #000;
  color: #fff;
  padding: 6px 10px;
  display: inline-block;
  font-size: 12px;
}

.tag {
  @include tag();
}

ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 767px) {
  .forPc {
    display: none;
  }
  .forSp {
    display: block;
  }
  .inner {
    @include inner(
      100%
    );
    padding: 0 2%;
    box-sizing: border-box;
  }
  .header,
  .footer {
    width: 100%;
    min-width: 100%;
  }
  section {
    width: 100%;
    min-width: 100%;
  }
}