  <footer class="footer">
    <div class="inner">
      <div class="footer__left">
        <ul>
          <li>
            <a href="#news">会社紹介</a>
          </li>
          <li>
            <a href="/recruit/" target="_blank">採用情報</a>
          </li>
          <li>
            <a href="">プライバシーポリシー</a>
          </li>
        </ul>
      </div>
      <div class="footer__right">
        <div class="copyright">
          &copy;KM Holdings all right reserved.
        </div>
      </div>
    </div>
  </footer>
  
  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/index.js"></script>
</body>
</html>