<%- include('./_header', {meta: localmeta}) %>

<div class="main_vidual">
  <h2 class="sec__title">人口減少の時代に、新しい営業を。</h2>
  <p class="sec__lead">私たちはテクノロジーを活用して、営業をデザインしていきます。</p>
</div>

<section class="about">
  <div class="inner">
    <div class="col">
      <img src="img/interview01.png" alt="">
    </div>
    <div class="col">
      <h2 class="sec__title">
        ABOUT
        <span class="ruby">サービス</span>
      </h2>
      
      <p class="lead__text">
        1,000万件を超えるビッグデータからAIが最適なアプローチリストを抽出し営業方法を立案。テストマーケティングで検証を繰り返し、最適な営業をデザインします。
      </p>
    </div>
  </div>
  
  <a href="" class="btn">
    MORE
  </a>
</section>

<section class="news">
  <h2 class="sec__title">
    <span class="ruby">NEWS</span>
    お知らせ
  </h2>
  <div class="inner">
    <div class="col">
      <h3>
        <span>お知らせ</span>
      </h3>
      <ul>
        <li>
          <a href="">
            <div class="top">
              <div class="date">2020年04月07日</div>
              <div class="tag">お知らせ</div>
            </div>
            <div class="bottom">
              緊急事態宣言に伴う対応方針について
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="top">
              <div class="date">2020年04月07日</div>
              <div class="tag">お知らせ</div>
            </div>
            <div class="bottom">
              緊急事態宣言に伴う対応方針について
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="top">
              <div class="date">2020年04月07日</div>
              <div class="tag">お知らせ</div>
            </div>
            <div class="bottom">
              緊急事態宣言に伴う対応方針について
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h3>
        <span>NEWS</span>
      </h3>
      <ul>
        <li>
          <a href="">
            <div class="top">
              <div class="date"></div>
              <div class="tag">お知らせ</div>
            </div>
            <div class="bottom">
              緊急事態宣言に伴う対応方針について
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="interview">
  <h2 class="sec__title">
    <span class="ruby">INTERVIEW</span>
    サービス導入企業インタビュー
  </h2>

  <div class="inner">
    <ul class="card">
      <li class="card__component">
        <a href="">
          <div class="card__top">
            <img src="img/interview01.png" alt="">
          </div>
          <div class="card__bottom">
            <h3 class="card__title">CrowdSales導入事例</h3>
            <div class="card__lead">社員の教育やフォローなしに新規開拓でき、ノウハウも手に入る</div>
            <p class="card__text">
              滋賀県に本社を構えるエス･アイ･オー･ジャパンは、アメリカのフリーズドライ食品メーカーが製造する非常食「アルパインエア」の日本総輸入元、総販売元である。
            </p>
          </div>
        </a>
      </li>
      <li class="card__component">
        <a href="">
          <div class="card__top">
            <img src="img/interview01.png" alt="">
          </div>
          <div class="card__bottom">
            <h3 class="card__title">CrowdSales導入事例</h3>
            <div class="card__lead">社員の教育やフォローなしに新規開拓でき、ノウハウも手に入る</div>
            <p class="card__text">
              滋賀県に本社を構えるエス･アイ･オー･ジャパンは、アメリカのフリーズドライ食品メーカーが製造する非常食「アルパインエア」の日本総輸入元、総販売元である。
            </p>
          </div>
        </a>
      </li>
      <li class="card__component">
        <a href="">
          <div class="card__top">
            <img src="img/interview01.png" alt="">
          </div>
          <div class="card__bottom">
            <h3 class="card__title">CrowdSales導入事例</h3>
            <div class="card__lead">社員の教育やフォローなしに新規開拓でき、ノウハウも手に入る</div>
            <p class="card__text">
              滋賀県に本社を構えるエス･アイ･オー･ジャパンは、アメリカのフリーズドライ食品メーカーが製造する非常食「アルパインエア」の日本総輸入元、総販売元である。
            </p>
          </div>
        </a>
      </li>
      <li class="card__component">
        <a href="">
          <div class="card__top">
            <img src="img/interview01.png" alt="">
          </div>
          <div class="card__bottom">
            <h3 class="card__title">CrowdSales導入事例</h3>
            <div class="card__lead">社員の教育やフォローなしに新規開拓でき、ノウハウも手に入る</div>
            <p class="card__text">
              滋賀県に本社を構えるエス･アイ･オー･ジャパンは、アメリカのフリーズドライ食品メーカーが製造する非常食「アルパインエア」の日本総輸入元、総販売元である。
            </p>
          </div>
        </a>
      </li>
      <li class="card__component">
        <a href="">
          <div class="card__top">
            <img src="img/interview01.png" alt="">
          </div>
          <div class="card__bottom">
            <h3 class="card__title">CrowdSales導入事例</h3>
            <div class="card__lead">社員の教育やフォローなしに新規開拓でき、ノウハウも手に入る</div>
            <p class="card__text">
              滋賀県に本社を構えるエス･アイ･オー･ジャパンは、アメリカのフリーズドライ食品メーカーが製造する非常食「アルパインエア」の日本総輸入元、総販売元である。
            </p>
          </div>
        </a>
      </li>
    </ul>
    <a href="" class="btn">MORE</a>
  </div>
</section>

<section class="products">
  <h2 class="sec__title">
    <span class="ruby">PRODUCTS&MEDIA</span>
    自社製品・メディア
  </h2>

  <div class="inner">
    <ul class="card">
      <li class="card__component">
        <a href="">
          <img src="img/logo_salsecrowd.png" alt="">
          <p>
            SalesCrowd
          </p>
        </a>
      </li>
      <li class="card__component">
        <a href="">
          <img src="img/logo_meetin.png" alt="">
          <p>
            MeetUp
          </p>
        </a>
      </li>
      <li class="card__component">
        <a href="">
          <img src="img/logo_meetin.png" alt="">

          <p>
            MeetUp
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>

<%- include('./_footer', {meta: localmeta}) %>

<%
  var localmeta = {
    title: 'サイトタイトルです',
    desc: 'ここでサイト説明文を記入します'
  };
%>