<%- include('./_header', {meta: localmeta}) %>

  <div class="inner">
    <h1>ddd</h1>
  </div>

<%- include('./_footer', {meta: localmeta}) %>

<%
  var localmeta = {
    title: 'サイトタイトルです',
    desc: 'ここでサイト説明文を記入します'
  };
%>