<%- include('./_header', {meta: localmeta}) %>

<div class="main_vidual">
  <h2 class="sec__title">人口減少の時代に、新しい営業を。</h2>
  <p>私たちはテクノロジーを活用して、営業をデザインしていきます。</p>
</div>

<section>
  <div class="inner">
    <div class="col">
      <img src="img/" alt="">
    </div>
  </div>
  <div class="col">
    <h2 class="sec__title">ABOUT</h2>
    <span>サービス</span>
    <p>
      1,000万件を超えるビッグデータからAIが最適なアプローチリストを抽出し営業方法を立案。テストマーケティングで検証を繰り返し、最適な営業をデザインします。
    </p>
  </div>
  <a href="" class="btn">
    MORE
  </a>
</section>

<section>
  <h2 class="sec__title">
    <span>NEWS</span>
    お知らせ
  </h2>
  <div class="inner">
    <div class="col">
      <h3>お知らせ</h3>
      <ul>
        <li>
          <a href="">
            <div class="top">
              <div class="date"></div>
              <div class="tag">お知らせ</div>
            </div>
            <div class="bottom">
              緊急事態宣言に伴う対応方針について
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h3>NEWS</h3>
      <ul>
        <li>
          <a href="">
            <div class="top">
              <div class="date"></div>
              <div class="tag">お知らせ</div>
            </div>
            <div class="bottom">
              緊急事態宣言に伴う対応方針について
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="interview">
  <h2 class="sec__title">
    <span>INTERVIEW</span>
    サービス導入企業インタビュー
  </h2>

  <div class="inner">
    <ul class="card">
      <li>
        <a href="">
          <div class="card__top">
            <img src="img/" alt="">
          </div>
          <div class="card__bottom">
            <h3 class="card__title"></h3>
            <div class="card__lead"></div>
            <p>
              
            </p>
          </div>
        </a>
      </li>
    </ul>
    <a href="" class="btn">MORE</a>
  </div>
</section>

<section>
  <h2 class="sec__title">
    <span>PRODUCTS&MEDIA</span>
    自社製品・メディア
  </h2>

  <div class="inner">
    <ul>
      <li>
        <a href="">
          SalesCrowd
        </a>
      </li>
      <li>
        <a href="">
          MeetUp
        </a>
      </li>
      <li>
        <a href="">
          WorksField
        </a>
      </li>
    </ul>
  </div>
</section>

<%- include('./_footer', {meta: localmeta}) %>

<%
  var localmeta = {
    title: 'サイトタイトルです',
    desc: 'ここでサイト説明文を記入します'
  };
%>