@import "partials/*";

// header
.header {
  background-color: #000;
  color: #fff;

  .inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
}
.header__right {
  &__upper {
    display: flex;
    margin-bottom: 20px;

    .btn {
      margin-right: 20px;


      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav {
  ul {
    display: flex;

    li {
      margin-right: 20px;

      &:before {
        content: ">";
      }

      a {
        color: #fff;
      }
    }
  }
}

// mainvisual
.main_vidual {
  background-color: #000;
  color: #fff;
  padding: 20px 0;

}

.sec__title {
  text-align: center;
  // background: {
  //   color: #f8f8f8;
  // }
  margin: 50px 0;
  font-size: 45px;
}
.sec__lead {
  text-align: center;
  font-size: 24px;
}

.ruby {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: normal;
  color: blue;
}

section {
  padding: 50px 0;
}

section:nth-child(2n) {
  background: green;
}

// about
.about {
  .inner {
    display: flex;

    .col {
      margin-right: 20px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    .lead__text {
      text-align: center;
    }
  }
}

// news
.news {
  .inner {
    display: flex;
    justify-content: space-between;

  }

  h3 {
    text-align: center;
  }
}

// .interview
.interview {
  .card {
    @include card();

    &__conponent {
      a {
        padding: 30px 30px;
      }
    }
    .card__title {
      margin: 30px 0;
    }

    .card__bottom {
      .card__lead {
        color: blue;
      }
      .card__text {
        font-size: 14px;
        margin-top: 20px;
      }
    }
  }
}

// products
// .products {


// }

.footer {
  background: linear-gradient(#20b2aa, green);
}