@import "partials/*";

// header
.header {
  background: linear-gradient($main-color, #000);
  color: #fff;
  border-bottom: #e2e2e2 solid 1px;
  position: fixed;
  z-index: 10;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
}

.logo {
  font-size: 30px;
  color: #fff;
}

.header__right {
  &__upper {
    display: flex;
    margin-left: auto;
    width: 500px;
    margin-bottom: 20px;

    .btn {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav {
  ul {
    display: flex;

    li {
      margin-right: 20px;

      a {
        color: #fff;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid #fff;
        }
        &:before {
          content: ">";
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// mainvisual
.main_vidual {
  color: #fff;
  padding: 20px 0;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/bg01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  position: relative;

  .ttl-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .sec__title {
      background: transparent;
      padding: 0;
    }
  }
}



.sec__title {
  text-align: center;
  background: {
    color: #f8f8f8;
  }
  padding: 50px 0;
  margin-bottom: 50px;
  font-size: 45px;
}
.sec__lead {
  text-align: center;
  font-size: 24px;
}

.ruby {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: normal;
  color: $main-color;
}

section {
  padding-top: 50px;
}

// about
.about {
  .sec__title {
    background: #fff;
  }
  .inner {
    display: flex;

    .col {
      margin-right: 20px;
      &:nth-child(2n) {
        margin-right: 0;
      }
      margin-bottom: 30px;
    }

    .lead__text {
      text-align: center;
    }
  }
  .btn {
    @include btn(
      transparent,
      #000
    );
    border: 1px solid #000;
  }
}

// news
.news {
  .inner {
    display: flex;
    justify-content: space-between;
  }

  .col {
    width: calc((100% / 2) - 40px);
  }

  h3 {
    span {
      border-bottom: 2px solid $main-color;
    }
    margin-bottom: 30px;
  }

  .col {
    ul {
      li {
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        &:last-child {
          margin: 0;
        }
        text-align: center;

        a {
          display: block;
          padding-bottom: 20px;
          border-bottom: 1px solid $main-color;
          .top {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            .date {
              margin-right: 20px;
            }
          }
          
        }
      }
    }
  }
}

// .interview
.interview {
  .card {
    @include card();

    &__component {
      margin-right: 30px;
      width: calc((100% / 3) - 20px);
      &:nth-child(3n) {
        margin-right: 0;
      }
      margin-bottom: 30px;

      a {
        display: block;
        &:hover {
          transform: translateY(-4px);
          transition: all 0.4s;
        }
      }
    }
    .card__title {
      margin: 30px 0;
    }

    .card__bottom {
      padding: 20px 20px;
      .card__lead {
        color: $main-color;
      }
      .card__text {
        font-size: 14px;
        margin-top: 20px;
      }
    }
  }

  .btn {
    @include btn(
      transparent,
      #000
    );
    border: 1px solid #000;
  }
}

// products
.products {
  .card {
    &__component {
      width: calc((100% / 2) - 20px);
      margin-right: 40px;
      &:nth-child(2n) {
        margin-right: 0;
      }
      margin-bottom: 40px;

      a {
        display: block;
        text-align: center;
        padding: 30px 30px;
      }

      img {
        height: 60px;
        width: auto;
      }
    }
  }
}

// footer
.footer {
  background: linear-gradient(#20b2aa, #000);
  padding: 30px 0;
  color: #fff;

  a {
    color: #fff;
  }

  .inner {
    display: flex;
    justify-content: space-between;
  }
}

.footer__left {
  ul {
    display: flex;
    li {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    .inner {
      padding: 5% 6%;
    }
  }
  .header__right__upper {
    flex-direction: column;
    width: 100%;

    .btn {
      margin-right: 0;
    }
  }

  .sec__title {
    font-size: 20px;
  }
  .sec__lead {
    font-size: 16px;
  }

  .main_vidual {
    height: auto;
    min-height: 200px;
  }

  section {
    padding: 20px 0;
  }

  // about
  .about {
    .inner {
      flex-direction: column;

      .col {
        margin-right: 0;
      }
    }
  }
  .news {
    .inner {
      flex-direction: column;
    }

    .col {
      width: 100%;
      h3 {
        text-align: center;
      }
      ul {
        li {
          .bottom {
            text-align: center;
          }
        }
      }
    }
  }

  .interview {
    .card {
      flex-direction: column;
  
      &__component {
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .products {
    .card {
      flex-direction: column;
  
      &__component {
        margin-right: 0;
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }



  .footer {
    .inner {
      flex-direction: column;
    }

    a {
      border-top: 1px solid #fff;
    }
  }
  .footer__left {
    ul {
      flex-direction: column;

      li {
        margin-right: 0;
        text-align: center;

        &:last-child {
          a {
            border-bottom: 1px solid #fff;
          }
        }
        a {
          display: block;
          padding: 20px 0;
        }
      }
    }
    margin-bottom: 30px;
  }
  .copyright {
    text-align: center;
  }

  // nav
  nav {
    background-color: #000;
    box-sizing: border-box;

    .logo {
      padding: 10px 40px 0;
      font-size: 20px;
      text-align: center;
    }
    .header__btn-list {
      margin-top: 20px;
      display: flex;
      padding: 0 20px;
  
      a {
        padding: 12px 8px;
        font-size: 12px;
      }
    }
  }

  nav ul {
    flex-direction: column;
    padding: 20px 40px 20px;
    text-align: center;
    li {
      width: 100%;
      border-bottom: 1px solid #fff;
      a {
        display: block;
        padding: 10px 0;
      }
    }
  }

  .nav_area_sp .nav_area_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    display: none;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  .nav_area_sp .nav_buttom {
    display: block;
    background: none;
    border: none;
    padding: 0;
    width: 35px;
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 3%;
    z-index: 1001;
    outline: none;
  }
  .nav_area_sp span {
    display: block;
    height: 5px;
    transition: all 0.4s;
    border-radius: 20px;
    background: $main-color;
  }
  .nav_area_sp span:nth-of-type(2) {
    margin: 8px auto;
  }
  .nav_area_sp span {
    display: block;
    height: 5px;
    transition: all 0.4s;
    border-radius: 4px;
    background: #fff;
  }
  .nav_area_sp .nav_buttom.active span {
    background: $main-color;
  }
  .nav_area_sp .nav_buttom.active span:first-of-type {
    transform: translateY(13px) rotate(-315deg);
  }
  .nav_area_sp .nav_buttom.active span:nth-of-type(2) {
    opacity: 0;
  }
  .nav_area_sp .nav_buttom.active span:last-of-type {
    transform: translateY(-13px) rotate(315deg);
}

  .nav_area_sp nav {
    width: 90%;
    height: 100%;
    transition: all 0.4s;
    transform: translate(110%);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #000;
    // padding: 40px;
  }
  .nav_area_sp nav.open {
    transform: translate(0);
  }
  .nav_area_sp .nav_buttom {
    display: block;
    background: none;
    border: none;
    padding: 0;
    width: 35px;
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 3%;
    z-index: 1001;
    outline: none;
  }
}